@font-face {
    font-family: Bellefair-Regular;
    src: url(../../fonts/Bellefair-Regular.ttf);
}
@font-face {
    font-family: BarlowCondensed-Regular;
    src: url(../../fonts/BarlowCondensed-Regular.ttf);
}

// Sizing

$heading1-fs: 150px;
$heading2-fs: 100px;
$heading3-fs: 56px;
$heading4-fs: 32px;
$heading5-fs: 28px;

$subheading1-fs: 28px;
$subheading2-fs: 14px;

$info-txt-fs: 18px;
$nav-txt-fs: 16px;
