// Colors
$clr1-dark: #0B0D17;
$clr-light: #D0D6F9;
$clr-white: #FFFFFF;

$clrHover:#979797;



// content wide
$small-CW: 325px;
$medium-CW: 720px;
$wide-CW: 960px;

// padding
$small-padding:24px;
$medium-padding:24px;
$normal-padding:32px;

// brake points
$small-BP:calc($small-CW + calc(2*$small-padding));
$medium-BP:calc($medium-CW + calc(2*$medium-padding));
$normal-BP:calc($wide-CW + calc(2*$normal-padding));





