// Colors
$clr1-dark: #0B0D17;
$clr-light: #D0D6F9;
$clr-white: #FFFFFF;
$clr-hover-bull: #24262f;

$clrHover:#979797;



// content wide
$small-CW: 325px;
$medium-CW: 680px;
$wide-CW: 1100px;

// padding
$small-padding:24px;
$medium-padding:46px;
$normal-padding:32px;

// brake points
$small-BP:calc($small-CW + calc(2*$small-padding));
$medium-BP:calc($medium-CW );
$normal-BP:calc($wide-CW + calc(2*$normal-padding));





